body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.green-color{
    color: green;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 50%;
    margin-left: 5px;
}
.link-button{
    text-decoration: none;
    background-color: lawngreen;
    padding: 10px 20px;
    border-radius: 10px;
}
.text-align{
    text-align: center;
}
.second-part{
    width: 50%;
    padding: 2%;
}
.second-part img{
    height: 5%;
    width: 5%;
    padding: 10px;
}
.project img{
width: 10%
}
.display-size{
    display: flex;
}
.display-size img{
    width: 25%;
}
.display-format{
    width:100%;
}
.display-format img{
    width: 35%;
}
.second-link-button{
    text-decoration: none;
    background-color: lawngreen;
    padding: 10px 20px;
    border-radius: 10px;
}
.third-link-button{
    text-decoration: none;
    background-color: lawngreen;
    padding: 10px 20px;
    border-radius: 10px;
}
.fourth-link-button{
    text-decoration: none;
    background-color: lawngreen;
    padding: 10px 20px;
    border-radius: 10px;
}  
.display-rules {
    display: flex;
    width: 100%;
}
.flexible-container-1{
    display: flex;
}
.flexible-container-1 img{
    width:55%;
}
.flexible-container-2{
    display: flex;
}
.flexible-container-2 img{
    width: 50%;
    padding-right: 10px;
}
.flexible-container-3{
    display: flex;
}
.flexible-container-3 img{
    width: 330px;  
}
.footer{
    color: greenyellow;
}